
html {
    background-color: black;
}
#logo { background:url("../images/icon_ans.jpg") no-repeat;
	height:65px;
	width:65px;
	margin-left: 20px;
	margin-top:20px;
	float:left;
}

#tagline{ float:left;
	background:url("../images/text_ans.jpg") no-repeat;
	width:342px; 
	height:30px;
	margin-top:50px;
	margin-left:5px;
	}
#header {	
	padding-top: 10px;
	background-image:url("../images/header.jpg");
	height:130px;
	margin-bottom:12px;
	
	}
	
body{
	/* Setting default text color, background and a font stack */
	
	background-color: #1e2428;
	
}

.tabContainer{
	/* The UL */
	float:right;
	padding-right:13px;
}

#contentHolder{
	background-color:#EEEEEE;
	border:2px solid #FFFFFF;
	height:450px;
	margin:8px;
	color:#444444;
	padding:5px;
	
}
#nevigator_bar{
	margin-top:90px;
	margin-right:-10px;
	}

#tabContent{
	background-color:#333;
	border:1px solid #444;
	width:100%;
	
	
}

#tabContent, .tabContainer li a,#contentHolder{
	-webkit-box-shadow:0 0 2px black;
	-moz-box-shadow:0 0 2px black;
	box-shadow:0 0 2px black;
}

.tabContainer li{
	/* This will arrange the LI-s next to each other */
	display:inline;
	
}

.tabContainer li a,.tabContainer li a:visited{
	/* Styling the hyperlinks of the tabs as colorful buttons */
	
	float:left;
	font-size:18px;
	
	/* display:block allows for additinal CSS rules to take effect, such as paddings: */
	display:block;
	
	padding:7px 16px 1px;
	margin:4px 5px;
	height:29px;
	
	/* Giving positioning */
	position:relative;
	
	/* CSS3 text-shadow */
	text-shadow:1px 1px 1px #CCCCCC;
	text-decoration:none;
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}
h1,h2,p.tutInfo{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}


#overLine{
	/* The line above the active button. */
	position:absolute;
	height:1px;
	background-color:white;
	width:90px;
	float:left;
	left:1px;
	top:-5px;
	overflow:hidden;
}

#main{
	margin:0 auto;
	position:relative;
	width:100%;
}


ul .left{
	/* The left span in the hyperlink */
	
	height:37px;
	left:0;
	position:absolute;
	top:0;
	width:10px;
}

ul .right{
	/* The right span in the hyperlink */
	
	height:37px;
	right:0;
	position:absolute;
	top:0;
	width:10px;
}


h1{
	background:#121b21;
	border-bottom:1px solid black;
	font-size:1.5em;
	font-weight:normal;
	margin-top:-1px;
	padding:12px;
	text-align:center;
	color: #036;
}
h1,h2,p.tutInfo{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}
