@charset "UTF-8";
/* CSS Document */

html {
    background-color: black;
}
#main{
	background-color:black;
	/*width:1300px;*/
    width: 100%;
	height:690px;
    margin-top:-8px;
    margin-left:-20px;
	

	}
#content{
	width:50%;
	margin: 0px auto;
	padding-left:70px;
	
	
	
	}
#register_form{
	margin-top:-2px;
	width: 550px;
    height: 550px;
	background-image:url("../images/register_formBody.jpg")
	}
#logo{
	background-image:url("../images/register_formHeader.jpg");
	width:550px;
	height:65px;}
	
#tr{
	
	height:50px;
	
	}
#input_username{
	height:30px;
	width:220px;
	margin-top:20px;
	margin-left:40px;	
	border:none;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	}
#input_password{
	height:30px;
	width:220px;
	margin-top:20px;
	margin-left:40px;	
	border:none;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	}
#input_email{
	height:30px;
	width:220px;
	margin-top:20px;
	margin-left:40px;
	border:none;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	}
#input_passwordcon{
	height:30px;
	width:220px;
	margin-top:20px;
	margin-left:40px;
	border:none;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-bottom:30px;}
#submit td{

	height:30px;
	width:440px;
}
#btn_register_submit{
	
	margin-left:40px;
	height:40px;
	width:140px;
	background-image:url("../images/register_btn.jpg") ;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-indent:-9999px;
	}
input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}
#selector{
	
	margin:5px;
	margin-top:25px;}
#notice{
	margin-left:42px;
	margin-top:20px;
	width:400px;
	height:120px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color:#666;
	}
#notice lh{
	
	color:red;
	font-size:20px;
	font-family: "Times New Roman", Times, serif;}
#notice li{
	font-size:16px;
	font-family: "Times New Roman", Times, serif;}

