@charset "UTF-8";
/* CSS Document */

html {
    background-color: black;
}
#logo { background:url("../images/icon_ans.jpg") no-repeat;
	height:65px;
	width:65px;
	margin-left: 20px;
	margin-top:20px;
	float:left;
}

#tagline{ float:left;
	background:url("../images/text_ans.jpg") no-repeat;
	width:342px; 
	height:30px;
	margin-top:50px;
	margin-left:5px;
	}
#header {	
	padding-top: 10px;
	background-image:url("../images/header.jpg");
	height:130px;
	
	}
	
body{
	/* Setting default text color, background and a font stack */
	
	background-color: #1e2428;
	
}

.tabContainer{
	/* The UL */
	float:right;
	padding-right:13px;
}

#contentHolder{
	background-color:#EEEEEE;
	border:2px solid #FFFFFF;
	height:450px;
	margin:8px;
	color:#444444;
	padding:5px;
	

}
#nevigator_bar{
	margin-top:90px;
	margin-right:-10px;
	}

#tabContent{
	background-color:#333;
	border:1px solid #444;
	width:100%;
	margin-top:-25px;
}

#tabContent, .tabContainer li a,#contentHolder{
	-webkit-box-shadow:0 0 2px black;
	-moz-box-shadow:0 0 2px black;
	box-shadow:0 0 2px black;
}

.tabContainer li{
	/* This will arrange the LI-s next to each other */
	display:inline;
	
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

.tabContainer li a,.tabContainer li a:visited{
	/* Styling the hyperlinks of the tabs as colorful buttons */
	
	float:left;
	font-size:18px;
	
	/* display:block allows for additinal CSS rules to take effect, such as paddings: */
	display:block;
	
	padding:7px 16px 1px;
	margin:4px 5px;
	height:29px;
	
	/* Giving positioning */
	position:relative;
	
	/* CSS3 text-shadow */
	text-shadow:1px 1px 1px #CCCCCC;
	text-decoration:none;
    
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;

} 



#overLine{
	/* The line above the active button. */
	position:absolute;
	height:1px;
	background-color:white;
	width:90px;
	float:left;
	left:1px;
	top:-5px;
	overflow:hidden;
}

#main{
	margin:0 auto;
	position:relative;
	width:100%;
}


ul .left{
	/* The left span in the hyperlink */
	
	height:37px;
	left:0;
	position:absolute;
	top:0;
	width:10px;
}

ul .right{
	/* The right span in the hyperlink */
	
	height:37px;
	right:0;
	position:absolute;
	top:0;
	width:10px;
}


h1{
	background:#121b21;
	border-bottom:1px solid black;
	font-size:1.5em;
	font-weight:normal;
	margin-top:-1px;
	padding:12px;
	text-align:center;
	color: #036;
}
h1,h2,p.tutInfo{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}
/* This is css file for status.html in div sen_message*/

#status_main{
	
	 }
#status_information{
	float:left;
	width:350px;
	height:440px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	
	}

#profile_pic{
	width:176px;
	height:176px;
	
	
	}
#status_information p{
	margin-top:7px;
	margin-left:10px;
	font-size:14px;
	
	}
img.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
	
}

#status_information_set{
	float:left;
	width:411px;
	height:440px;
	margin-left:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;

	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;

	}

#status_sendMessage{
	float:left;
	width:411px;
	height:440px;
	margin-left:15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	}


#send_username{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	margin-top:-30px;
	}

#send_subject{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	margin-top:-30px;
	}
.detail{
	margin-left:2px;
	margin-top:4px;
	
	}
#message_detail{
	margin-left:7px;}
.clear{
  clear:both;
  height:0;
  width:100%;
 }
.ui-datepicker{
	width:100px;
	font-family:tahoma;
	font-size:11px;
	text-align:center;
}

#dateInput{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	margin-top:-25px;
	}

#message_detail{
	
	text-align:left;
	margin-top:-20px;
	}
#btn_sendMessage{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:140px;
	height:40px;
	font-size:13px;
	margin-left:7px;
	background-image:url("../images/btn_sendMessage.png");
	text-indent:-9999px;

	}
#update_status{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	margin-top:4px;
	
	
	}
#update_place{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	margin-top:4px;

	
	}
#btn_updateStatus{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:140px;
	height:40px;
	font-size:13px;
	margin-left:7px;
	background-image: url("../images/btn_updateStatus.png");
	text-indent:-9999px;
	}
#send_form{
	margin-top:-13px;}
	
#place{
	margin-top:-100px;}
	
	
 /* This is css file for status.html in div status_setting*/
 input[type="radio"] { 
 	margin-top: 10px;
	 margin-left:7px;
	  }
