
html {
    background-color: black;
}
body {
	width: 100%;
	min-width: 1260px;
}


#header{
	background-color: #1C1C1C;
	height: 80px;

}
#logo { 
	background:url(images/ans_icon.png) no-repeat;
	height:64px;
	width:64px;
	margin-left: 10px;
	margin-top:10px;
	float:left;
}
#project_name{
	padding-top: 15px;
	color: #585858;
	padding-right: 80px;
	min-width: 600px;
}

#underline2 {
	height: 1px;
	background-color: red;
}
#content_body{
	background-color: #000;
	width:100%;
	height: 600px;
	}
#menu{
	width:100%;
	margin-left: auto;
	margin-right:auto;

}
#content{
	margin-top: 2%;
}
#topic_contact{
	padding:5px;
	background-color: white;
	border-radius: 2px;

}
#allcontact{
/*	overflow:auto; */
	background-color: white;
	border-radius: 2px;
	padding: 7px;
/*	height: 500px;*/
}

#group_detail {
	background-color: white;
	border-radius: 2px;
	padding: 7px;
}
#underline_contact{
	width: 100%;
	height: 1px;
	margin-bottom: 10px;
	background-color: #D8D8D8;
}
#contact_detail{
	height: 60px;
}
#name{
	margin-left: 1%;
	float: left;
}
#status{
    width:150px;
	float: left;
	
}
.FixedHeightContainer
{
  float:right;
  height: 250px;
  width:250px; 
  padding:3px; 
    background:#f00;
}
