html {
    background-color: black;
}
body {
	width: 100%;
	min-width: 1260px;
}
p.gray{
	color: #1C1C1C;

}


#header{
	background-color: #1C1C1C;
	height: 80px;

}
#logo { 
	background:url('../images/ans_icon.png') no-repeat;
	height:64px;
	width:64px;
	margin-left: 10px;
	margin-top:10px;
	float:left;
}
#project_name{
	padding-top: 15px;
	color: #585858;
	padding-right: 80px;
	min-width: 600px;
}

#underline2 {
	height: 1px;
	background-color: red;
}
#content_body{
	background-color: #000;
	width:100%;
	}
#menu{
	width:100%;
}

#status_info{
	background-color: white;
	min-height: 510px;
	border-radius: 2px;
	padding: 10px;
	padding-bottom: -10px;

}
#content{
	background-color: white;
	/* height: 610px; */
}
#profile_pic{
	float: left;
	margin-right: 10px;
}
#personal_info{
	margin-top: 10px;
}
#availability{
	padding-left: 10px;
	padding-right: 10px;
}
#place{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
#content{
	padding: 20px;
	border-radius: 2px;
}
#group_button{
	margin-left: 75%;

}
