@charset "UTF-8";
/* CSS Document */
 
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }  
body { font-family: Arial, Helvetica, sans-serif; }

#main{background:url("../images/mainPage_02.jpg") repeat-x;
 width:100%;
 min-width:1280px; 
}


#logo { background:url("../images/icon_ans.jpg") no-repeat;
	height:64px;
	width:64px;
	margin-left: 20px;
	margin-top:20px;
	float:left;
}

#tagline h3{ 
	text-indent: -9999px;}
#tagline{ float:left;
	background:url("../images/text_ans.jpg") no-repeat;
	width:342px; 
	height:30px;
	margin-top:55px;
	margin-left:15px}
#header {
	padding-top: 10px;
	padding-right:30px;}

ul#menu {
    
	margin-top:20px;
	padding-top:30px;
	padding-bottom:20px;
	margin-bottom:-20px;

	}
ul#menu li{
	
	float:right;
	list-style: inside none;

	}
#content{
	background:url("../images/content_background1.jpg") ;
	margin-top:36px;
 	height:712px;
    width:100%
    min-width:100%;
	}
#qrcode{
	background-image:url("../images/here_qrcode.png");
	float:left;
	width:50%;
	height:136px;	
}
#qrcode p{
	color:#FFF;
	margin-top:10px;
	padding-left:30px;
    font-family:"Myriad Pro",Arial,Helvetica,sans-serif;}
#related{
	background-image:url("../images/used_technology.jpg");
	float:left;

	height:136px;
	width:50%;
	
	}
	
#related p{
	padding-left:30px;
	margin-top:10px;
	color:#666;
	}
#footer{
	width:1280px;
    min-width:1280px;
	height:60px;
	margin-top:130px;
	padding-top:7px;
	background:url("../images/footer.jpg") repeat-x;
}
#footer p{
    margin-top:20px;
	text-align:center;
	color:#CCC;
	<p> Copyright @ 2012  Appointment Notification System (ANS) All Right Reserved</p>
}
#button_register{
	background:url("../images/register.jpg") repeat-x;
	text-decoration:none;
	padding:13px 84px; border-radius:10px;
	cursor: hand;
}
#button_sign {
	background:url("../images/signin.jpg") repeat-x;
	text-decoration:none;
	margin-left:10px;
	margin-right:-110px;
	padding:13px 84px; border-radius:10px;
}
	
div#login {
	margin-right:100px;
}
#general {
	min-width:100%;
    width:100%;
}
#login_form {
    position:absolute;
	margin: 0.3in auto;
	color: #fff;
	width: 250px;
	height:80px;
	padding: 20px;
	background-image:url("../images/loginform_background.jpg");
	right:30px;
	top:170px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	visibility: hidden;
}
div#login:focus div {
    visibility:visible;
}
#username {
	height:30px;
	width:250px;
	border:none;
	font-size:14px;
	margin-bottom:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#password{
	height:30px;
	width:170px;
	border:none;
	margin-left:-2px;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
}
#button_submit{
	width:75px;
	height:30px;
	background-color:#000;
	border:0px;
	margin_left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color:#FFF;
	font-size:14px;
	cursor: hand;
	}



div#login {
    float: right;
}
#qrcode h3{ 
        margin-left:200px;
        color:#999;
        text-decoration:underline;
        font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
        font-size::20px;
        }
#qrcode li{
        font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
        font-size::20px;
        color:#999;  
        margin-left:190px;                                                         }
#related p{
         font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
         font-size:20px;
         color:#999;
         text-decoration:underline;   
    }
#agenda p{
        font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
        font-size:17px;
        color:#636363;
         }
#agenda{
         margin-left:700px;
         margin-top:240px;
         width:187px;
         position:absolute;
         }
 #contact p{
         font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
         font-size:17px;
         color:#636363;
         }                                                           
#contact{
        margin-left:1030px;                                                                   
        margin-top:240px;
        width:187px;
        position:absolute;
        }
 #message p{
        font-family:"Myriad Pro",Arial,Helvetica,sans-serif;                                                                       
        font-size:17px;
        color:#636363;                                                                                                            
      }
 #message{
        margin-left:700px;
        margin-top:510px;
        width:187px;
        position:absolute;                                                                                                        
     }
 #status p{              
        font-family:"Myriad Pro",Arial,Helvetica,sans-serif;                                                                       
        font-size:17px;
        color:#636363;                                                                                                             
    }
 #status{
         margin-left:1030px;
         margin-top:510px;                                                                                                         
         width:187px;
         position:absolute;                                                                                                          
     }
#content_message{
        position:absolute;
        margin-left:-130px;
        margin-top:-6px;
     }
#content_status{
         position:absolute;
         margin-left:-130px;
         margin-top:-6px;                                    
     }
#content_agenda{
         position:absolute;
         margin-left:-130px;
         margin-top:-6px;                                                            
     }
#content_contact{
         position:absolute;                                          
         margin-left:-130px;
         margin-top:-6px;               
     }
 #content_header{
     position:absolute;
     margin-top:41px;    
     margin-left:184px;                                                                                  
     }
 #content_phone{    
     position:absolute;                                                                                                      margin-top:200px;
     margin-left:80px;
     }
 #content_detail{
     position:absolute;
     margin-top:560px;
     margin-left:72px;
 }
