
html {
    background-color: black;
}
body {
	width: 100%;
	min-width: 1260px;
}


#header{
	background-color: #1C1C1C;
	height: 80px;

}
#logo { 
	background:url(images/ans_icon.png) no-repeat;
	height:64px;
	width:64px;
	margin-left: 10px;
	margin-top:10px;
	float:left;
}
#project_name{
	padding-top: 15px;
	color: #585858;
	padding-right: 80px;
	min-width: 600px;
}

#underline2 {
	height: 1px;
	background-color: red;
}
#content_body{
	background-color: #000;
	width:100%;
	height: 600px;
	}
#menu{
	width:100%;
	margin-left: auto;
	margin-right:auto;

}
#content{
	margin-top: 2%;
}
#topic_message{
	padding:5px;
	background-color: white;
	border-radius: 2px;

}
#send_message{
    padding-bottom: 10px;
	border-radius: 2px;
	background-color: white;
}
#send_message_detail{
	margin-left: 10%;
	
}
