
html {
    background-color: black;
}
body {
	width: 100%;
	min-width: 1260px;
	
}


#header{
	background-color: #1C1C1C;
	height: 80px;

}
#logo { 
	background:url(images/ans_icon.png) no-repeat;
	height:64px;
	width:64px;
	margin-left: 10px;
	margin-top:10px;
	float:left;
}
#project_name{
	padding-top: 15px;
	color: #585858;
	padding-right: 80px;
	min-width: 600px;
}

#underline2 {
	height: 1px;
	background-color: red;
}
#content_body{
	background-color: black ;
	width:100%;
	min-height: 600px;
	}
#menu{
	width:100%;
	margin-left: auto;
	margin-right:auto;

}
#content{
	margin-top: 2%;
}
#topic_message{
	padding:5px;
	background-color: white;
	border-radius: 2px;

}
#allmessages{
	background-color: white;
	padding: 7px;
	border-radius: 2px;
   /* height:500px;
    overflow:auto; */

}
#underline_message{
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #D8D8D8;
}
#message_picture{
	width: 48px;
	height: 48px;

}
#message_detail{
	height:110px;

}
#message_body{
	width: 300px;
	margin-left: 10px;
	
}
#sender{
	margin-left: 10px;
}
#date_time{
	float: left;
	margin-left: 5%;
	background-color: white;
}
#agenda{
	float: left;
	margin-left: 3%
}
