html {
    background-color: black;
}
body {
	width: 100%;
	min-width: 1260px;
}
#header{
	background-color: #1C1C1C;
	height: 80px;

}
#logo { 
	background:url('http://static.appnosystem.com/images/ans_icon.png') no-repeat;
	height:64px;
	width:64px;
	margin-left: 10px;
	margin-top:10px;
	float:left;
}
#project_name{
	padding-top: 15px;
	color: #585858;
	padding-right: 80px;
	min-width: 600px;
}
#content_body{
	background-color: #000;
	width:100%;
	}
p.white{
	color: #FFF;

}
li.white{
	color:#8F8F8F;
	margin-left: 75px;
}


#underline2 {
	height: 1px;
	background-color: red;
}
#content_detail{
	width: 60%;
	height: 600px;
	background-color: black;
	float: left;
	
}
#content_detail_inside{
	margin-left: 5%;

	
}
#login_register{
	width: 40%;
	height: 600px;
	left: 60%;
	float: left;
	background-color: black;
}
#login_register_inside{
	margin-left: 20%;
	margin-top: 15px;
}
#login{
	margin-top: 50px;
	padding: 10px;
	width:290px;
	height: 90px;
	background-color: #F2F2F2;
	border-radius: 3px;
	position: absolute;
}
#register{
	margin-top: 200px;
	padding: 10px;
	background-color: #F2f2f2;
	width: 290px;
	height: 240px;
	border-radius: 3px;
	position: absolute;
}
#register h4{
	margin-top: -5px;
}
#registerFullname{
	margin-bottom: -10px;
}
#registerPassword{
	margin-top: -10px;

}
#registerConfirmPassword{
	margin-top: -10px;
}


#signIn{
	border-radius: 2px;
	margin-top: -20px;
}
#signUp{
	border-radius: 2px;
	margin-left: 165px;
	margin-top: -10px;
}
#inputUsername{

}
#inputPassword{
	margin-top: -20px;

}
#remember{
	margin-top: -20px;
	color: #343434;
}
#underline{
	width: 290px;
	height: 1px;
	background-color: #BDBDBD;
	margin-bottom: 10px;
}
#agenda{
	width:280px;
	position:absolute;
	margin-left: 50px;
	margin-top: 50px;
}
#content_agenda{
	margin-left: 85px;
}
#contact{
	width:270px;
	position:absolute;
	margin-left: 400px;
	margin-top: 50px;
}
#content_contact{
	margin-left: 85px;
}
#message{
	width:270px;
	position:absolute;
	margin-left: 50px;
	margin-top: 250px;
}
#content_message{
	margin-left: 85px;
	
}
#status{
	width:270px;
	position:absolute;
	margin-left: 400px;
	margin-top: 250px;
	}
#content_status{
	margin-left: 85px;
	
}
#related{
	position: absolute;
	margin-top: 50px;
	margin-left: 25px;
}

#install_guide{
	position: absolute;
	margin-left: 50px;
	margin-top: 450px;
	width: 460px;


}
#install_guide p{
	color: #343434;
	font-size: 17px;

}
#guide{
	margin-top: 25px;
	margin-left: 50px;
	
}
#qrcode{
	margin-left: 5px;
	margin-bottom: 10px;
}

