@charset "UTF-8";
/* CSS Document */
#logo { background:url(images/icon_ans.jpg) no-repeat;
	height:64px;
	width:64px;
	margin-left: 20px;
	margin-top:20px;
	float:left;
}

#tagline{ float:left;
	background:url(images/text_ans.jpg) no-repeat;
	width:342px; 
	height:30px;
	margin-top:55px;
	margin-left:15px;
	}
#header {	
	padding-top: 10px;
	padding-right:30px;
	background-image:url(images/header.jpg);
	height:160px;
	}
body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Simple page reset */
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	color:#cccccc;
	font-size:0.825em;
	background-color: #1e2428;
	font-family:Arial, Helvetica, sans-serif;
}

.tabContainer{
	/* The UL */
	float:right;
	padding-right:13px;
}

#contentHolder{
	background-color:#EEEEEE;
	border:2px solid #FFFFFF;
	height:420px;
	margin:8px;
	color:#444444;
	padding:5px;
}

#tabContent{
	background-color:#333;
	border:1px solid #444;
	margin-top:-15px;
	width:100%;
}

#tabContent, .tabContainer li a,#contentHolder{
	-webkit-box-shadow:0 0 2px black;
	-moz-box-shadow:0 0 2px black;
	box-shadow:0 0 2px black;
}

.tabContainer li{
	/* This will arrange the LI-s next to each other */
	display:inline;
}

.tabContainer li a,.tabContainer li a:visited{
	/* Styling the hyperlinks of the tabs as colorful buttons */
	
	float:left;
	font-size:18px;
	
	/* display:block allows for additinal CSS rules to take effect, such as paddings: */
	display:block;
	
	padding:7px 16px 1px;
	margin:4px 5px;
	height:29px;
	
	/* Giving positioning */
	position:relative;
	
	/* CSS3 text-shadow */
	text-shadow:1px 1px 1px #CCCCCC;
}

#overLine{
	/* The line above the active button. */
	position:absolute;

	height:1px;
	background-color:white;
	width:90px;
	
	float:left;
	left:1px;
	top:-5px;
	overflow:hidden;
}

#main{
	margin:0 auto;
	position:relative;
	width:100%;
}


ul .left{
	/* The left span in the hyperlink */
	
	height:37px;
	left:0;
	position:absolute;
	top:0;
	width:10px;
}

ul .right{
	/* The right span in the hyperlink */
	
	height:37px;
	right:0;
	position:absolute;
	top:0;
	width:10px;
}

/* Styling the colors individually: */

ul a.green{	background:url(img/green_mid.png) repeat-x top center;	color:#24570f;}
ul a.green span.left{ background:url(img/green_left.png) no-repeat left top;}
ul a.green span.right{ background:url(img/green_right.png) no-repeat right top;}


ul a.blue{	background:url(img/blue_mid.png) repeat-x top center;	color:#03426e;}
ul a.blue span.left{ background:url(img/blue_left.png) no-repeat left top;}
ul a.blue span.right{ background:url(img/blue_right.png) no-repeat right top;}


ul a.orange{	background:url(img/orange_mid.png) repeat-x top center;	color:#724104;}
ul a.orange span.left{ background:url(img/orange_left.png) no-repeat left top;}
ul a.orange span.right{ background:url(img/orange_right.png) no-repeat right top;}


ul a.red{	background:url(img/red_mid.png) repeat-x top center;	color:#6f0100;}
ul a.red span.left{ background:url(img/red_left.png) no-repeat left top;}
ul a.red span.right{ background:url(img/red_right.png) no-repeat right top;}


/* The hover states: */
ul a:hover{	background-position:bottom center; text-decoration:none;}
ul a:hover span.left{ background-position:left bottom;}
ul a:hover span.right{ background-position:right bottom;}

.preloader{
	display:block;
	margin:120px auto;
}

.clear{
	/* Old-school clear fix hack to clear the floats: */
	clear:both;
	height:1px;
	overflow:hidden;
}

/* The styles below are only necessary for the styling of the demo page: */

h1{
	background:#121b21;
	border-bottom:1px solid black;
	font-size:1.5em;
	font-weight:normal;
	margin-bottom:15px;
	padding:15px;
	text-align:center;
	color: #036;
}

h2 {
	font-size:0.9em;
	font-weight:normal;
	padding-right:40px;
	position:relative;
	right:0;
	text-align:right;
	text-transform:uppercase;
	top:-48px;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

p.tutInfo{
	/* The tutorial info on the bottom of the page */
	padding:10px 0;
	text-align:center;
	position:fixed;
	bottom:0px;
	background:#121b21;
	border-top:1px solid black;
	width:100%;
}

h1,h2,p.tutInfo{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

/* This is css file for status.html in div sen_message*/

#status_main{
	
	 }
#status_information{
	float:left;
	width:350px;
	height:405px;
	margin:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	
	}

#profile_pic{
	width:176px;
	height:176px;
	margin-top:20px;
	margin-bottom:20px;
	
	}
#status_information p{
	margin-top:7px;
	margin-left:10px;
	font-size:14px;
	
	}
img.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
	
}

#status_information_set{
	float:left;
	width:415px;
	height:405px;
	margin:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	}

#status_sendMessage{
	float:left;
	width:415px;
	height:405px;
	margin:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	}


#header_send{
	margin:10px;
	color:#666;
	font-size:17px;
	text-decoration:underline;
	float:left;
	}
#send_username{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	}

#send_subject{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	}
.detail{
	margin-left:2px;
	
	}
#message_detail{
	margin-left:7px;}
.clear{
  clear:both;
  height:0;
  width:100%;
 }
 .ui-datepicker{
	width:150px;
	font-family:tahoma;
	font-size:11px;
	text-align:center;
}

#dateInput{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	}
#placeInput{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:200px;
	height:20px;
	font-size:13px;
	margin-left:7px;
	}
#message_detail{
	
	text-align:left;
	}
#btn_sendMessage{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:140px;
	height:40px;
	font-size:13px;
	margin-left:7px;
	background-image:url(images/btn_sendMessage.png);
	text-indent:-9999px;

	}
	
 /* This is css file for status.html in div status_setting*/
 input[type="radio"] { 
 	margin-top: 10px;
	 margin-left:7px;
	  }
/* This is css file for message.html in div message_inbox*/
#message_main{
	
	 }
#message_inbox{
	float:left;
	width:350px;
	height:405px;
	margin:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	background-color:blue;
	}
#message_outbox{
	float:left;
	width:350px;
	height:405px;
	margin:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	background-color:#F00;
	}
#message_misscall{
	float:left;
	width:350px;
	height:405px;
	margin:7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-style:solid;
	background-color:green;
	}



