div#login {
    position: relative;
    float: right;
    height: 20px;
    padding: 5px;
    margin-right:100px;
}

#login_form {
	position: absolute;
	margin: 0.3in auto;
	color: #fff;
	width: 250px;
	height:80px;
	padding: 20px;
	background-image:url(images/loginform_background.jpg);
	right:0;
	top:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	visibility: hidden;
}
div#login:focus div{
	
	visibility:visible;}

div#main {
	width:100%;
	height:1000PX;
	background-color:#F00;}
#input_username{
	height:30px;
	width:250px;
	border:none;
	font-size:14px;
	margin-bottom:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	}
#input_password{
	height:30px;
	width:170px;
	border:none;
	margin-left:-2px;
	font-size:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	}
#botton_submit{
	width:75px;
	height:30px;
	background-color:#000;
	border:0px;
	margin_left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color:#FFF;
	font-size:14px;
	}​
